<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-success" href="/members">
        LOGIN / PROFILE
      </a> <a class="navbar-brand text-success" href="/games">
        Find Games
      </a> <a class="navbar-brand text-success" href="/users">
        Find Friends
      </a>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find your Favorites! <span class="member-name"></span></h1>
    <p class="lead">Search Games below. Members can add to their profiles, too!</p>
          <form method="GET" action="/games"> 
        <div class="form-group">
          <label for="searchGames">Find Games</label>
          <input type="text" name="query" class="form-control" id="searchGames" aria-describedby="gameSearch">
          <small id="gameSearch" class="form-text text-muted">Search something nostalgic!</small>
        </div>
        <button type="submit" class="btn btn-success">SEARCH</button>
        
      </form>
  </div>
</div>
<div class="container">
  <h1 class="display-4">Game Results:</h1>

  <div id="displayResults">

  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-center">GAME KIKI.</span>
    </div>
  </footer>
</div>



<script type="text/javascript" src="js/games.js"></script>