<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-success" href="/members">
        LOGIN / PROFILE
      </a> <a class="navbar-brand text-success" href="/games">
        Find Games
      </a> <a class="navbar-brand text-success" href="/users">
        Find Friends
      </a>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">WELCOME, <span class="member-name"></span></h1>
    <p class="lead">DATA based on profile? Something cool? Avatar? BIO?</p>
  </div>
</div>
<div class="container">
  <h1>HELLO</h1>

  <div class="row">
    <div class="col-md-3 ">
      <form>
        <div class="form-group">
          <label for="searchGames">Search Games</label>
          <input type="game" class="form-control" id="searchGames" aria-describedby="gameSearch">
          <small id="gameSearch" class="form-text text-muted">Search something nostalgic!</small>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="API RETURN"> RETURN GAME INFO</a>
      </form>
    </div>
  </div>



  <footer class="footer">
    <div class="container">
      <span class="text-center">GAME KIKI.</span>
    </div>
  </footer>
</div>



<script type="text/javascript" src="js/games.js"></script>