<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-success" href="/logout">
        Logout
      </a>
      <a class="navbar-brand text-success" href="/members">
        PROFILE
      </a> <a class="navbar-brand text-success" href="/games">
        Find Games
      </a> <a class="navbar-brand text-success" href="/users">
        Find Friends
      </a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome, <span class="member-name"></span>!</h1>
    <p class="lead">View your Top 10, Find your Friends!</p>
          <form>
        <form method="GET" action="/users">
          <div class="form-group">
            <label for="userSearch">Where are your Friends?</label>
            <input type="email" name="query" class="form-control" id="userSearch" aria-describedby="userSearch">
            <small id="userSearch" class="form-text text-muted">Search an email address of a KIWI user.</small>
          </div>
          <button type="submit" class="btn btn-success">LOOK</button>
        </form>
  </div>
</div>

<div class="container">
  <h1 class="display-4">Your 10 Favorite Games:</h1>

  <div id="displayResults" class= "row-cols-3 card-deck"></div>

  <footer class="footer">
    <div class="container">
      <span class="text-center">GAME KIKI.</span>
    </div>
  </footer>

</div>


<script type="text/javascript" src="js/members.js"></script>