<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-success" href="/members">
        LOGIN / PROFILE
      </a> <a class="navbar-brand text-success" href="/">
        Find Games
      </a> <a class="navbar-brand text-success" href="/">
        Find Friends
      </a>
    </div>
  </div>
</nav>
{{!-- <div class="container"> --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">GAME KIWI</h1>
    <p class="lead">Sign up is EASY! Once a member, start adding games to your Top 10!</p>
  </div>
</div>





<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="display-4">Sign Up </h2>
      <form class="signup">
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputFirst">First Name</label>
          <input type="firtstName" class="form-control" id="first-input" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="inputast">Last Name</label>
          <input type="lastName" class="form-control" id="last-input" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>

        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
      <br />
      <p>Or log in <a href="/">here</a></p>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <span class="text-center">GAME KIKI.</span>
    </div>
  </footer>
</div>


<script type="text/javascript" src="js/signup.js"></script>