<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-success" href="/members">
        LOGIN / PROFILE
      </a> <a class="navbar-brand text-success" href="/games">
        Find Games
      </a> <a class="navbar-brand text-success" href="/users">
        Find Friends
      </a>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find your Friends! <span class="member-name"></span></h1>
    <p class="lead">Search Kiwi Users below. Members can add to their profiles, too?</p>
        <form>
          <div class="form-group">
            <label for="userSearch">Know someone?</label>
            <input type="user" class="form-control" id="userSearch" aria-describedby="userSearch">
            <small id="userSearch" class="form-text text-muted">Search an email address of a KIWI user.</small>
          </div>
          <button type="button" class="btn btn-success">LOOK</button>
        </form>
  </div>
</div>
<div class="container">
  <h1 class="display-4">User Results:</h1>

  <div id="displayResults">

  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-center">GAME KIKI.</span>
    </div>
  </footer>
</div>








<script type="text/javascript" src="js/users.js"></script>