<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-success" href="/members">
        LOGIN / PROFILE
      </a> <a class="navbar-brand text-success" href="/games">
        Find Games
      </a> <a class="navbar-brand text-success" href="/users">
        Find Friends
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <h1>HELLO</h1>

  <footer class="footer">
    <div class="container">
      <span class="text-center">GAME KIKI.</span>
    </div>
  </footer>
</div>








<script type="text/javascript" src="js/users.js"></script>